/**
 *Webpage about myself
 */
html{
	background-color:#E8DAEF
}

body {
	background-color:#F5EEF8
	}

h1 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #7D3C98;
}
h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #7D3C98;
}

div{
	border-radius:5px;
}

#footer{
	position:relative;
	height: 50px;
	float:right;
	background-color:#668284
	clear:both;
	font-family: Verdana, sans-serif;
	font-size:14px;
	text-align:center;
	color:#ffffff
}
#footer p{
	position:relative;
	padding-top:15px;
}
h1:hover
{
	background-color:#E8DAEF;
}
h2:hover
{
	background-color:#E8DAEF;
}

.float-img {
	float: right;
	margin-right: 1px; 
	margin-bottom: 0px; 
	border: solid black 1px; 
	padding: 2px; 
	object-fit:scale-down;
        width:100px;
        height:100px;
}
float-img-1{
	float: right;
	margin-right: 10px; 
	margin-bottom: 5px; 
	border: solid black 1px; 
	padding: 2px; 
	object-fit:scale-down;
        width:200px;
        height:300px;
}
#viewDiv {
	padding: 0; 
	margin: 0; 
	height: 50%;
	width: 50%;
}
